# Pandas练习

In [3]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series([1,3,6,np.nan, 44,1])
print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [5]:
dates = pd.date_range('20190120',periods=6)
print(dates)

DatetimeIndex(['2019-01-20', '2019-01-21', '2019-01-22', '2019-01-23',
               '2019-01-24', '2019-01-25'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,
                  columns=['a','b','c','d'])
print(df)

                   a         b         c         d
2019-01-20 -1.202779  1.072761 -0.410530 -0.142339
2019-01-21 -0.700017 -0.929527 -0.985211  2.253128
2019-01-22  0.566838 -1.250769  1.356871 -2.287395
2019-01-23 -0.133220  0.751120  0.782387  2.380719
2019-01-24 -0.206006 -0.849692  0.495433  0.296366
2019-01-25  1.791859 -2.234250 -0.370983 -2.345570

In [19]:
df1 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo'})
print(df1)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [20]:
print(df1.dtypes)

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [26]:
print(df1.index)

Int64Index([0, 1, 2, 3], dtype='int64')

In [27]:
print(df1.columns)

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [28]:
print(df1.values)

[[1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'foo']]

In [29]:
print(df1.describe())

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [30]:
print(df1.T)

                     0                    1                    2  \
A                    1                    1                    1
B  2013-01-02 00:00:00  2013-01-02 00:00:00  2013-01-02 00:00:00
C                    1                    1                    1
D                    3                    3                    3
E                 test                train                 test
F                  foo                  foo                  foo

                     3
A                    1
B  2013-01-02 00:00:00
C                    1
D                    3
E                train
F                  foo

In [33]:
print(df1.sort_index(axis = 1, ascending=False))

     F      E  D    C          B    A
0  foo   test  3  1.0 2013-01-02  1.0
1  foo  train  3  1.0 2013-01-02  1.0
2  foo   test  3  1.0 2013-01-02  1.0
3  foo  train  3  1.0 2013-01-02  1.0

In [34]:
print(df1.sort_index(axis = 0, ascending=False))

     A          B    C  D      E    F
3  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
0  1.0 2013-01-02  1.0  3   test  foo

In [35]:
print(df1.sort_values(by='E'))

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
2  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
3  1.0 2013-01-02  1.0  3  train  foo

# pandas数据选择

In [95]:
dates = pd.date_range('20190121',periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,
                  columns=['A','B','C','D'])
print(df)

             A   B   C   D
2019-01-21   0   1   2   3
2019-01-22   4   5   6   7
2019-01-23   8   9  10  11
2019-01-24  12  13  14  15
2019-01-25  16  17  18  19
2019-01-26  20  21  22  23

In [48]:
print(df['A'],df.A)

2019-01-21     0
2019-01-22     4
2019-01-23     8
2019-01-24    12
2019-01-25    16
2019-01-26    20
Freq: D, Name: A, dtype: int64 2019-01-21     0
2019-01-22     4
2019-01-23     8
2019-01-24    12
2019-01-25    16
2019-01-26    20
Freq: D, Name: A, dtype: int64

In [44]:
print(df[0:3],df['20190121':'20190123'])

            A  B   C   D
2019-01-21  0  1   2   3
2019-01-22  4  5   6   7
2019-01-23  8  9  10  11             A  B   C   D
2019-01-21  0  1   2   3
2019-01-22  4  5   6   7
2019-01-23  8  9  10  11

# loc

In [45]:
print(df.loc['20190121'])

A    0
B    1
C    2
D    3
Name: 2019-01-21 00:00:00, dtype: int64

In [49]:
print(df.loc[:,['A','B']])

             A   B
2019-01-21   0   1
2019-01-22   4   5
2019-01-23   8   9
2019-01-24  12  13
2019-01-25  16  17
2019-01-26  20  21

In [50]:
print(df.loc['20190122',['A','B']])

A    4
B    5
Name: 2019-01-22 00:00:00, dtype: int64

# iloc

In [51]:
print(df.iloc[3])

A    12
B    13
C    14
D    15
Name: 2019-01-24 00:00:00, dtype: int64

In [52]:
print(df.iloc[3:5,1:3])#根据位置选择

             B   C
2019-01-24  13  14
2019-01-25  17  18

In [54]:
print(df.iloc[[1,3,5],1:3])

             B   C
2019-01-22   5   6
2019-01-24  13  14
2019-01-26  21  22

# ix

In [56]:
print(df.ix[:3,['A','C']])

            A   C
2019-01-21  0   2
2019-01-22  4   6
2019-01-23  8  10

/Users/taoxuefeng/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [58]:
print(df[df.A > 8])#便于筛选，选择A列中大于8的，返回所有列结果

             A   B   C   D
2019-01-24  12  13  14  15
2019-01-25  16  17  18  19
2019-01-26  20  21  22  23

# 设置值

In [60]:
df.iloc[2,2] = 1111
print(df)

             A   B     C   D
2019-01-21   0   1     2   3
2019-01-22   4   5     6   7
2019-01-23   8   9  1111  11
2019-01-24  12  13    14  15
2019-01-25  16  17    18  19
2019-01-26  20  21    22  23

In [61]:
df.loc['20190122','B'] = 2222
print(df)

             A     B     C   D
2019-01-21   0     1     2   3
2019-01-22   4  2222     6   7
2019-01-23   8     9  1111  11
2019-01-24  12    13    14  15
2019-01-25  16    17    18  19
2019-01-26  20    21    22  23

In [65]:
df[df.A > 4] = 0
print(df)

            A  B  C  D
2019-01-21  0  1  2  3
2019-01-22  4  5  6  7
2019-01-23  0  0  0  0
2019-01-24  0  0  0  0
2019-01-25  0  0  0  0
2019-01-26  0  0  0  0

In [67]:
df.A[df.A > 4] = 0
print(df)

            A   B   C   D
2019-01-21  0   1   2   3
2019-01-22  4   5   6   7
2019-01-23  0   9  10  11
2019-01-24  0  13  14  15
2019-01-25  0  17  18  19
2019-01-26  0  21  22  23

In [69]:
df.B[df.A > 4] = 0
print(df)

             A  B   C   D
2019-01-21   0  1   2   3
2019-01-22   4  5   6   7
2019-01-23   8  0  10  11
2019-01-24  12  0  14  15
2019-01-25  16  0  18  19
2019-01-26  20  0  22  23

In [71]:
df['F'] = np.nan
print(df)

             A   B   C   D   F
2019-01-21   0   1   2   3 NaN
2019-01-22   4   5   6   7 NaN
2019-01-23   8   9  10  11 NaN
2019-01-24  12  13  14  15 NaN
2019-01-25  16  17  18  19 NaN
2019-01-26  20  21  22  23 NaN

In [72]:
df['E'] = pd.Series([1,2,3,4,5,6], 
                    index=pd.date_range('20190121',periods=6))
print(df)

             A   B   C   D   F  E
2019-01-21   0   1   2   3 NaN  1
2019-01-22   4   5   6   7 NaN  2
2019-01-23   8   9  10  11 NaN  3
2019-01-24  12  13  14  15 NaN  4
2019-01-25  16  17  18  19 NaN  5
2019-01-26  20  21  22  23 NaN  6

In [79]:
df['E'] = pd.Series([1,2,3,4,5,6], 
                    index=pd.date_range('20190121',periods=6))
print(df)

             A   B   C   D   F  E
2019-01-21   0   1   2   3 NaN  1
2019-01-22   4   5   6   7 NaN  2
2019-01-23   8   9  10  11 NaN  3
2019-01-24  12  13  14  15 NaN  4
2019-01-25  16  17  18  19 NaN  5
2019-01-26  20  21  22  23 NaN  6

In [96]:
df.iloc[0,1] = np.nan #假设丢失两个数据
df.iloc[1,2] = np.nan
print(df)

             A     B     C   D
2019-01-21   0   NaN   2.0   3
2019-01-22   4   5.0   NaN   7
2019-01-23   8   9.0  10.0  11
2019-01-24  12  13.0  14.0  15
2019-01-25  16  17.0  18.0  19
2019-01-26  20  21.0  22.0  23

In [84]:
print(df.dropna(axis=0, how='any')) #axis=0丢掉行  #how={'any','all'}

             A     B     C   D
2019-01-23   8   9.0  10.0  11
2019-01-24  12  13.0  14.0  15
2019-01-25  16  17.0  18.0  19
2019-01-26  20  21.0  22.0  23

In [88]:
print(df.dropna(axis=1, how='any')) #axis=1丢掉列  
#how={'any','all'} any：只要存在就删除，all：全部为NaN才删除

             A   D
2019-01-21   0   3
2019-01-22   4   7
2019-01-23   8  11
2019-01-24  12  15
2019-01-25  16  19
2019-01-26  20  23

In [91]:
print(df.dropna(axis=1, how='all')) #axis=1丢掉列

             A     B     C   D
2019-01-21   0   NaN   2.0   3
2019-01-22   4   5.0   NaN   7
2019-01-23   8   9.0  10.0  11
2019-01-24  12  13.0  14.0  15
2019-01-25  16  17.0  18.0  19
2019-01-26  20  21.0  22.0  23

In [94]:
print(df.fillna(value=0)) #填入数字

             A     B     C   D
2019-01-21   0   0.0   2.0   3
2019-01-22   4   5.0   0.0   7
2019-01-23   8   9.0  10.0  11
2019-01-24  12  13.0  14.0  15
2019-01-25  16  17.0  18.0  19
2019-01-26  20  21.0  22.0  23

In [98]:
print(df.isnull()) #查看NaN值

                A      B      C      D
2019-01-21  False   True  False  False
2019-01-22  False  False   True  False
2019-01-23  False  False  False  False
2019-01-24  False  False  False  False
2019-01-25  False  False  False  False
2019-01-26  False  False  False  False

In [99]:
print(np.any(df.isnull()) == True) #查看NaN值,丢失后为true，若有丢失，返回true

True